@keyframes processIndicator{
	from {width: 0;}
	to {width: 80%;}
}
.Progress{
	padding: 0.1rem;
	height: 2.5rem;
}
.ProgressTitle{
  line-height: 2rem;
	float: left;
	width:20%;
	text-align: center;
}
.ProgressIndicator{
	animation: processIndicator 1s;
	float: left; 
	width: 75%;
}
.ProgressIndicatorLeft {
  line-height: 2rem;
	height: 2rem;
	float: left;
	text-align: right;
	background-color: #dde8f1;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	border-style: solid hidden solid solid;
	border-width: 0.1rem;
}
.ProgressIndicatorRight {
  line-height: 2rem;
	height: 2rem;
	float: left;
	text-align: left;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	border-style: solid solid solid hidden;
	border-width: 0.1rem;
}

.Title {
	font-size: 20px;
	text-align: center;
  padding-bottom: 0.2rem;
}

.Radio {
  border: solid 0.1rem;
  padding: 1rem;
}

.Button {
  border: none;
  background-color: #2f3c48;
  color: #cae4fb;
  height: 3rem;
}

.Button:hover {
  background-color: rgba(99,127,153,0.5);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.content {
	font-size: 10px;
}

.lineGrid {
	stroke: black;
	stroke-width: 0.5;
}

.lineDrag {
	stroke: grey;
	stroke-width: 0.5;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  /*background-color: #2f3c48;*/
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}
/* D3-tip
Creates a small triangle extender for the tooltip 
Abel at Aug/10/2016
*/

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
/* Northward tooltips */

.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}
/* Eastward tooltips */

.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}
/* Southward tooltips */

.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}
/* Westward tooltips */

.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

.SelectDialog{
  left: 40%;
  top: 20%;
  min-width: 200px;
  max-width: calc(50% - 2rem);
  position: absolute;
  z-index: 10;
  background-color: white;
}

.GateList {
  overflow-y: scroll;
  max-height: 400px;
}

.Buttons{
  background-color: #2f3c48;
  padding: 0.5rem;
}

.BL{
  z-index: 8;
  position: fixed;
  background-color: #000000;
  opacity: 0.6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}